

table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    padding: 4px;
    text-align: left;
    vertical-align: top;
}
table th {
    font-weight: normal;
    background: #eee;
    color: #000;
}

table tr:hover {
    background-color: #171C1D;
}

ul {
    list-style-type: none;
    margin: 5px;
}

#sub-nav {
    width: 350px;
    padding-top: 8px;
}

#sub-nav li {
    display: inline;
    margin: 0 10px 0 2px;
    text-decoration: underline;
}

div.progress-container {
    border: 1px solid #ccc;
    width: 100px;
    margin: 2px 5px 2px 0;
    padding: 1px;
    float: left;
    background: white;
    position: relative;
}
div.progress-container > div {
    background-color: #B1D918;
    height: 12px;
    font-size: 10px;
}
div.progress-container span {
    position: absolute;
    top: 0; 
    left: 0;
    color: #000;
    text-align: center;
    width: 100%;
}

